@import '../../styles/typography';
@import '../../styles/global';
@import '../../styles/mixins';
@import '../../styles/variables';

.section-project{
    border-top: 1px solid #ccc;
    margin-top: 9em;
    width: 80%;
    display: flex;
    justify-content:center;
    align-items:center;

    h1{
        margin-top: 3em;
        font-size:40px;
        color: $text-color;
    }
  
}